/* HTML and Loading Screen*/
html, body {min-height: 100%; }
html.loading {background: #333 url('/assets/loading.gif') no-repeat 50% 50%;}
html.loading_error{background: #333 url(/assets/error.gif) no-repeat 50% 50%;}
body {background-color: white; }
body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif;}
.options_side , .side{display: none;width: 100%;}
.text_centered{text-align: center;}
.ld{z-index: initial !important;}

div:not(.not_affected_by_color_theme) , h1 , h2 , h3 , select , .select2-selection__rendered , p:not(.not_affected_by_color_theme) , a:not(.nav_a){
    color: var(--text_color);
}
div:not(#navbar_settings_icon):not(.not_affected_by_color_theme) , select , .select2-selection{
    background-color: var(--background_color);
}
#nav_ul , #navbar_settings_icon {
    background-color: var(--navbar_color);
}

/*Particles js*/
canvas{display: block; vertical-align: bottom; background: linear-gradient(135deg,var(--gradient_color1) 0,var(--gradient_color2));}
#particles-js{ position:absolute; width: 100%; height: 100%; background: linear-gradient(90deg,var(--gradient_color1) 0,var(--gradient_color2)); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; transition: background 1s;}
html.phone #particles-js{display: none;}

#main{position: absolute;top: 50%; left: 50%; transform: translate(-50%, -50%);background-color: white;display: flex;flex-direction: column;align-items: center;border-radius: 4px;}

/*Input Box*/
.input_gray{margin: 10px 12px 10px 0; padding: 9px 18px; text-decoration: none; white-space: nowrap; cursor: pointer; outline: none; border-radius: 4px; border: 0; color: var(--gradient_color2); background: linear-gradient(90deg,gray 0,gray) 0 0 no-repeat,linear-gradient(90deg,gray 0,gray) 0 100% no-repeat,linear-gradient(0deg,gray 0,gray) 0 100% no-repeat,linear-gradient(0deg,gray 0,gray) 100% 100% no-repeat; background-size: 100% 2px,100% 2px,2px 100%,2px 100%;}
input:disabled{cursor: not-allowed; background-color: gray;color: white;}
.input_focus_color:focus{padding: 9px 18px; text-decoration: none; white-space: nowrap; cursor: pointer; outline: none; border-radius: 4px; border: 0; color: var(--gradient_color2); background: linear-gradient(90deg,var(--gradient_color1) 0,var(--gradient_color2)) 0 0 no-repeat,linear-gradient(90deg,var(--gradient_color1) 0,var(--gradient_color2)) 0 100% no-repeat,linear-gradient(0deg,var(--gradient_color1) 0,var(--gradient_color1)) 0 100% no-repeat,linear-gradient(0deg, var(--gradient_color2) 0, var(--gradient_color2)) 100% 100% no-repeat; background-size: 100% 2px,100% 2px,2px 100%,2px 100%;}
.login_input{width: 75%;}
.search_input{border-radius: 4px 0px 0px 4px !important; margin: 10px 1px 10px 0;}

/*Search Button*/
.search_button{margin: 10px 12px 10px 0; padding: 9px 18px; text-decoration: none; white-space: nowrap; cursor: pointer; outline: none; border-radius: 0px 4px 4px 0px; border: 0; color: var(--gradient_color2); background: linear-gradient(90deg,var(--gradient_color1) 0, var(--gradient_color2)) 0 0 no-repeat,linear-gradient(90deg,var(--gradient_color1) 0,var(--gradient_color2)) 0 100% no-repeat,linear-gradient(0deg,var(--gradient_color1) 0,var(--gradient_color1)) 0 100% no-repeat,linear-gradient(0deg,var(--gradient_color2) 0,var(--gradient_color2)) 100% 100% no-repeat; background-size: 100% 2px,100% 2px,2px 100%,2px 100%;width: 24px; height: 24px;padding-top: 5px; padding-bottom: 5px; padding-left: 5px;margin: 0px; padding-right: 5px;}
.search_button:hover{color:#f2f2f2;background:-webkit-gradient(linear,left top,right top,from(var(--gradient_color1)),to(var(--gradient_color2)));background:linear-gradient(90deg,var(--gradient_color1) 0,var(--gradient_color2))}

/* Buttons*/
.button:hover{color: var(--button_text_color_hover);background:-webkit-gradient(linear,left top,right top,from(var(--gradient_color1)),to(var(--gradient_color2)));background:linear-gradient(90deg,var(--gradient_color1) 0,var(--gradient_color2))}
.button:disabled{cursor: not-allowed; color: gray; background: linear-gradient(90deg,gray 0,gray) 0 0 no-repeat,linear-gradient(90deg,gray 0,gray) 0 100% no-repeat,linear-gradient(0deg,gray 0,gray) 0 100% no-repeat,linear-gradient(0deg,gray 0,gray) 100% 100% no-repeat; background-size: 100% 2px,100% 2px,2px 100%,2px 100%;}
.button{transition: none !important; margin: 10px 12px 10px 12px; padding: 9px 18px; text-decoration: none; white-space: nowrap; cursor: pointer; outline: none; border-radius: 4px; border: 0; color: var(--button_text_color); background: linear-gradient(90deg,var(--gradient_color1) 0,var(--gradient_color2)) 0 0 no-repeat,linear-gradient(90deg,var(--gradient_color1) 0,var(--gradient_color2)) 0 100% no-repeat,linear-gradient(0deg,var(--gradient_color1) 0,var(--gradient_color1)) 0 100% no-repeat,linear-gradient(0deg,var(--gradient_color2) 0,var(--gradient_color2)) 100% 100% no-repeat; background-size: 100% 2px,100% 2px,2px 100%,2px 100%;}
.centered_button_bar{display: flex; margin: auto; width: fit-content; width: -moz-fit-content;}

/*Select Boxes*/
.select{height: 33.33px; flex-shrink: 0; margin: auto; margin-right: 12px; margin-top: 10px; margin-bottom: 10px; outline: none; background-color: white; border-radius: 4px; /* border-color: gray; */ background: linear-gradient(90deg, grey 0px, grey) 0px 0px / 100% 2px no-repeat, linear-gradient(90deg, grey 0px, grey) 0px 100% / 100% 2px no-repeat, linear-gradient(0deg, grey 0px, grey) 0px 100% / 2px 100% no-repeat, linear-gradient(0deg, grey 0px, grey) 100% 100% / 2px 100% no-repeat; border-width: 0px;}

/*Login*/
.input_focus_color
html.no-phone #login_headline{color: black !important;}
#login_side{top: 50%; left: 50%; transform: translate(-50%, -50%); width: 35%;position: absolute; background-color: white; border-radius: 4px;display: flex;flex-direction: column;align-items: center;}
html.no-phone #login_side{background-color: white !important;}
#login_form{display: flex; flex-direction: column; align-items: center;  width: 100%;  height: 100%;}
html.phone #login_side{width: 100%;height: 100%; border-radius: 0;}

/*Navbar*/
#nav_ul { list-style-type: none; margin: 0; padding: 0; width: 100%;}
#nav_ul_mobile { list-style-type: none; margin: 0; padding: 0; overflow: hidden;}
.nav_li { float: left;}
.nav_li .nav_a { display: block; color: var(--navbar_text_color); text-align: center; padding: 14px 16px; border-bottom-width: 0; border-top-width: 0; border-left-width: 0; border-right-width: 0; border-style: solid;border-image: linear-gradient(90deg,var(--gradient_color1) 0,var(--gradient_color2)) 10 stretch;}
.nav_a_selected {padding-bottom: 9px !important;border-bottom-width: 5px !important;}
html.no-mobile .nav_li:hover {cursor: pointer;background: linear-gradient(90deg,var(--gradient_color1) 0,var(--gradient_color2));}
html.no-mobile .nav_a_selected:hover{border-bottom-width: 0 !important;padding: 14px 16px !important;}
#nav_div_mobile{width:100%; height: 10%;}
html.phone #nav_ul{display: none !important;}
html.no-phone #nav_div_mobile{display: none !important;}

/*Mobile Sidenav*/
.sidenav {height: -webkit-fill-available; width: 0; position: fixed; z-index: 1; top: 0; left: 0; background-color: #111; overflow-x: hidden; padding-top: 60px; transition: 0.5s;}
.sidenav a {padding: 8px 8px 8px 10px; text-decoration: none; font-size: 25px; color: #818181; display: block; transition: 0.3s; border-left-width: 10px; border-left-style: solid; background-color: transparent !important; border-color: transparent;}
.sidenav .selected {border-image: linear-gradient(rgb(226, 40, 40) 0px, rgb(255, 140, 47)) 10 / 1 / 0 stretch;}
.sidenav .closebtn {position: absolute; top: 0; right: 25px; font-size: 36px; margin-left: 50px;}

/*Tables*/
table, td, th{border: 2px solid #ddd; border-collapse: collapse;}
th , td { padding: 15px;}
html.phone th ,html.phone td { padding: 5px;}

#overdue_table , #overdue_holiday_table{width : 100%}

/*Detail Boxes*/
details summary {outline: none;}

/*Text*/
th{text-align: left;}

/*Book E/A*/
#media_side{width: 100%;display: flex;flex-direction: row;flex-wrap: wrap;flex-flow: column;}
.book_div_padding{background-color: white;border-right: 1px solid #eee;padding-right: 1%;padding-left: 1%;width: 48%;}
html.mobile .book_div_padding{width:98%;}
.book_div_horizontal{width: 100%;display: flex;flex-shrink: 0;}
html.mobile .book_div_right{display: none;}
.book_input_div{display: flex;}
#books_choose_side_mobile{display: none;}
html.mobile #books_choose_side_mobile{display : initial;text-align: center}
#media_return_button{margin: 10px 0 10px 0;}
html.no-phone #media_return_input{width: 70%;}
html.no-phone #media_return_button{width: 30%;}
html.phone #media_return_input{width: calc(100%-36px);}
html.phone #media_return_button{width: 100%;}


/* Media Search*/
.media_search_side1{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;}
#media_search_search_bar{margin: auto;display: flex;align-items: center; width: fit-content;flex-direction: row; width: -moz-fit-content;}

html.phone .mobile_seperate_lines{flex-direction: column !important;}

.mouse_change_onhover:hover{cursor: pointer;}

.error_message{color:red;margin: 3px;text-align: center;}

.new_media_input{width: 50%;}
.new_media_input , .new_customer_select, .new_media_select{margin: 7px 0px 7px 0px;}
.new_customer_select , .new_media_select{width: calc(50% + 36px);}
#media_details_table , #customer_details_table{margin-left: auto; margin-right: auto;}
#media_details_back , #customer_details_back{display: flex; justify-content: center; align-items: center; margin-bottom: 5px; cursor: pointer;}
#selected_media_instances_operations{display: flex; margin: auto; width: fit-content; width: -moz-fit-content;}

/*customer Search*/
#customer_search_search_bar{margin: auto;display: flex;flex-direction: row;align-items: center;}
#catalog_back_button , #customer_back_button{margin: auto;}

/*Admin*/
.admin_navigation_item{width: 100%; height: 35px; padding-left : 5px; border-left-width: 4px; border-left-style: solid; border-color: transparent; background-color: transparent !important;}
.admin_navigation_item p{margin : 2px; padding-top: 10px; padding-bottom: 10px;}
.admin_navigation_item_selected{border-image: linear-gradient(180deg,var(--gradient_color1) 0,var(--gradient_color2)) 10 stretch;}

/*Sweet Alert*/
.settings_menu{position: absolute !important; top: 0px; right: 0px;/* background-color: var(--navbar_color);*/ border-radius: 0px 0px .3125em .3125em !important;}
.settings_menu_container{background-color: transparent !important;}
html.phone .swal2-container{padding: 0;}
html.phone .swal_mobile_fullscreen{width: 100%; height:100%; padding: 0; border-radius: 0;}

/*Select 2*/
.select2 , .select2-search__field , select , .select2-selection{outline: none;}
.select2-dropdown {background-color: var(--background_color) !important;}
.select2-results__option{background-color: var(--background_color) !important; color: var(--text_color) !important;}
.select2-results__option:hover{background: linear-gradient(90deg,var(--gradient_color1) 0,var(--gradient_color2));; color: var(--button_text_color_hover) !important;}
.select2-search__field{background-color: var(--background_color) !important; color: var(--text_color) !important;}

.small_spacer{margin-left: 5px; margin-right: 5px;}
.medium_spacer{margin-left: 9px; margin-right: 9px;}
