<phpunit bootstrap="bootstrap.php"
        colors="true" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
        beStrictAboutCoversAnnotation="false"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTodoAnnotatedTests="true"
        cacheResultFile=".phpunit.cache/test-results"
        convertDeprecationsToExceptions="true"
        executionOrder="depends,defects"
        failOnRisky="true"
        failOnWarning="true"
        forceCoversAnnotation="true"
        verbose="true">
    <testsuites>
        <testsuite name="unit">
            <directory>./Unit</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../lib/</directory>
        </include>
    </coverage>
</phpunit>
